<div class="flex space-y-4">
    <div *ngFor="let item of cartItems; trackBy: trackByIndex">
        <div class="flex justify-between items-center">
            <div class="flex flex-col">
                <app-image [img]="item.image" [alt]="item.name" [w]="50" [h]="50"/>
                <span>{{item.color}}</span>
                <p>{{item.quantity}}</p>
            </div>
        </div>
        <div class="flex flex-col items-end">
            <p>{{item.price.toFixed(2)}}</p>
            <span class="self-end">X</span>
        </div>
    </div>
</div>
    <!-- <div>
        <button (click)="removeItem(items.id)">Remove</button>
    </div> -->